
#form{
    text-align: center;
    background-color:#1c5560;
    color: white;
}
#botao{
    border-style: none;
    border-radius: 20px;
    background-color:#79ae92;
    color: white;
    margin: 10px;
    width: 6em;
    padding: 5px;
}
#nome{
    margin: 5px;
    border-radius: 8px;
    padding: 8px;

}
#senha{
    margin: 5px;
    border-radius: 8px;
    padding: 8px;

}
#email{
    margin: 5px;
    border-radius: 8px;
    padding: 8px;
}

#option{
    border-radius: 4px;
    width: 10em;
    padding: 5px;
}
